<<<<<<< HEAD
header {
    background-color: red;
    height: 70px;
    width: 100%;
=======
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
>>>>>>> c0c912efdd4abffb5e414019e6c58eaee8024909
}
